<p id="notice"><%= notice %></p>

<h2>Enter Customer</h2>

<%= form_with url: retail_orders_selected_path, local: true, method: 'get' do |f| %>
  <%= f.label(:retail_orders_customer, 'Customer:') %>
  <%= f.text_field :custcode, {id: "custcode", :oninput=> ("custName()")} %><br>
  <%= f.select :custname, $names, {:style => "width:20em"}, id: "custname"  %>
  <%= f.submit "Enter" %>
<% end %>

<p id= "allnames" hidden> <%= $allnames %> </p>
<p id= "allcusts" hidden> <%= $allcusts %> </p>
